.resume-container {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.resume-container .resume {
    display: flex;
    justify-content: center;
}

#download {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #c3375a;
    color: white;
    font-weight: 700;
    transition: .7s;
}
#download :is(svg) {
    height: 1.4rem;
    width: 2rem;
}

#download:hover {
    background-color: #fb6087;
}

@media (max-width: 850px) {
    #download {
        font-size: 1rem;
    }
}