.home-container {
    margin: 7rem 3.5rem;
}

.home-container .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.home-container .hero-container .title #first {
    color: white;
    font-size: 2rem;
    border: 2px #fb6087 solid;
    border-radius: 2.5rem;
    border-bottom-left-radius: 0;
    padding: 1rem 1.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    margin-bottom: 2rem;
}
.home-container .hero-container .title #second {
    color: white;
    font-size: 3rem;
    margin-bottom: 6rem;
}
.home-container .hero-container .title span {
    color: #fb6087;
    border-bottom: 2px #fb6087 solid;
    font-weight: 700;
}
.home-container .hero-container .title #third {
    color: #fb6087;
    font-size: 2.8rem;
}
.avatar {
    height: 20%;
    width: 30%;
}

.cursor {
    display: inline-block;
    width: 0.1em;
    /* Adjust the width of the cursor */
    height: 0.8em;
    /* Adjust the height of the cursor */
    background-color: #fb6087;
    /* Cursor color */
    margin-left: 0.2em;
    /* Adjust the distance between the cursor and text */
}

.cursor {
    animation: blinkCursor .8s infinite;
    /* Adjust cursor blink speed */
}

@keyframes blinkCursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.homeHeroIcon {
    width: 40%;
    height: 40%;
    margin-right: 2rem;
}

@keyframes typeText {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes deleteText {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.home-container .buttons-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 40%;
}
.home-container .buttons-container button {
    border: 2px #fb6087 solid;
    background-color: transparent;
    color: white;
    font-weight: 700;
    transition: 0.7s;
    width: 200px;
}

.home-container .intro-container {
    margin-top: 18rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}
.home-container .intro-container .title {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
}
.home-container .intro-container span {
    color: #fb6087;
    font-weight: 700;
}
.home-container .intro-container .desc {
    font-size: 1.5rem;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}


.home-container .contact-container {
    margin-top: 9rem;
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.home-container .contact-container .title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 2.5rem;
}
.left-divider {
    height: 5px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        transparent 0%,
        #fb6087 30%, /* Adjust the gradient stop positions to control the height decrease */
        purple 50%,
        #27247a 70%, /* Adjust the gradient stop positions to control the height decrease */
        transparent 100%
    ); 
}
.right-divider {
    height: 5px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        transparent 0%,
        #27247a 30%, /* Adjust the gradient stop positions to control the height decrease */
        purple 50%,
        #fb6087 70%, /* Adjust the gradient stop positions to control the height decrease */
        transparent 100%
    );
}
.home-container .contact-container .title-text {
    color: #fb6087;
    width: 55rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.home-container .contact-container .desc {
    color: white;
    font-size: 2rem;
    text-align: center;
    display: grid;
    gap: 1.5rem;
}
.home-container .contact-container .desc span {
    color: #fb6087;
    font-weight: 600;
}
.home-container .contact-container .contact-button {
    background-color: #c3375a;
    border-radius: 12px;
    padding: 0.6rem;
    font-size: 1.9rem;
    width: 12rem;
	--webkit-user-select: none;
	user-select: none;
    cursor: pointer;
    text-align: center;
    transition: 0.7s;
    margin-top: 2.5rem;
}
.home-container .contact-container .contact-button a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.home-container .logo-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.home-container .logo-container :is(svg) {
    color: white;
    transition: 0.3s;

    height: 3rem;
    width: 3rem;
}


@media (max-width: 1300px) {
    .home-container .hero-container .title #first {
        font-size: 1.7rem;
    }
    .home-container .hero-container .title #second {
        font-size: 2.5rem;
    }
    .home-container .hero-container .title #third {
        font-size: 2.3rem;
    }
    .home-container .buttons-container button {
        font-size: 1rem;
    }
    .home-container .intro-container .title {
        font-size: 2.5rem;
    }
    .home-container .intro-container .desc {
        font-size: 1.3rem;
    }
    .home-container .contact-container .title-text {
        font-size: 2rem;
    }
    .home-container .contact-container .desc {
        font-size: 1.5rem;
    }
    .home-container .contact-container .contact-button {
        font-size: 1.6rem;
    }
    .home-container .logo-container :is(svg) {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@media (max-width: 1100px) {
    .home-container .hero-container .title #first {
        font-size: 1.4rem;
        padding: 10px;
        width: 12rem;
    }
    .home-container .hero-container .title #second {
        font-size: 2.2rem;
    }
    .home-container .hero-container .title #third {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    .home-container .intro-container .title {
        font-size: 2.2rem;
    }
    .home-container .intro-container .desc {
        font-size: 1.1rem;
    }
    .home-container .contact-container .title-text {
        font-size: 1.7rem;
    }
    .home-container .contact-container .desc {
        font-size: 1.2rem;
    }
    .home-container .contact-container .contact-button {
        font-size: 1.3rem;
    }
    .home-container .logo-container :is(svg) {
        height: 2.2rem;
        width: 2.2rem;
    }
    .homeHeroIcon {
        width: 36%;
        height: 36%;
    }
}
@media (max-width: 900px) {
    .home-container .hero-container .title #first {
        font-size: 1.2rem;
    }
    .home-container .hero-container .title #second {
        font-size: 2rem;
    }
    .home-container .hero-container .title #third {
        font-size: 1.65rem;
        margin-bottom: 4rem;
    }
    .home-container .buttons-container button {
        padding: 1rem;
        width: 170px;
    }
    .home-container .intro-container .title {
        font-size: 2rem;
    }
    .home-container .intro-container .desc {
        font-size: 1rem;
    }
    .home-container .contact-container .title-text {
        font-size: 1.6rem;
    }
    .home-container .contact-container .desc {
        font-size: 1.1rem;
    }
    .home-container .logo-container :is(svg) {
        height: 2.1rem;
        width: 2.1rem;
    }
}

@media (max-width: 850px) {
    .home-container {
        margin: 7rem 1.3rem;
    }
    .home-container .hero-container {
        flex-direction: column;
        align-items: center;
    }
    .home-container .hero-container .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-container .hero-container .title #first {
        font-size: 1.7rem;
        padding: 0.6rem 1.5rem;
        width: 15rem;
    }
    .home-container .hero-container .title #second {
        font-size: 2.2rem;
        margin-bottom: 5rem;
    }
    .home-container .hero-container .title #third {
        font-size: 1.4rem;
    }
    .homeHeroIcon {
        width: 70%;
        height: 70%;
    }
    .home-container .buttons-container {
        justify-content: center;
        width: 100%;
        margin-top: 3rem;
    }
    .home-container .buttons-container button {
        width: 150px;
    }
    .home-container .intro-container {
        flex-direction: column;
    }
    .home-container .intro-container .title {
        font-size: 2.2rem;
        text-align: center;
    }
    .home-container .intro-container .desc {
        font-size: 1.2rem;
        text-align: center;
    }
    .home-container .intro-container img {
        height: 50%;
        width: 50%;
    }
    .home-container .contact-container .title-text {
        font-size: 1.2rem;
    }
    .home-container .contact-container .desc {
        font-size: 1.3rem;
    }
    .home-container .contact-container .contact-button {
        font-size: 1.3rem;
        width: 50%;
    }
    .home-container .logo-container :is(svg) {
        height: 2rem;
        width: 2rem;
    }
}

@media (hover: hover) {
    .home-container .buttons-container button:hover {
        background-color: #fb6087;
    } 
    .home-container .contact-container .contact-button:hover {
        background-color: #fb6087;
    }
    .home-container .logo-container :is(svg):hover {
        color: rgb(117, 163, 216);
    }
}