.navbar-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: .8px solid #fb6087;
}

.navbar-desktop .site-icon {
    color: #fb6087;
    margin-left: 40px;
    letter-spacing: 1.2px;
}

.navbar-desktop .site-icon h1 {
    font-weight: 400;
    transition: .3s;
}

.navbar-desktop .site-icon h1:hover {
    transform: scale(1.1);
}

.navbar-desktop .menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    margin-right: 40px;    
}

.navbar-desktop .menu-list .planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar-desktop .menu-list .planet .hl {
    position: absolute;
    width: 0%;
    top: -20px;
    transition: all .7s;
    height: 5.5px;
}

.navbar-desktop .menu-list .planet .clicked {
    width: 100%;
}

.navbar-desktop .menu-list .planet #planet-clicked {
    color: #fb6087;
}

.navbar-desktop .menu-list .planet button {
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #fb6087;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2px;

    transition: .3s;
    cursor: pointer;
}

.navbar-desktop .menu-list .planet:hover .hl {
    width: 100%;
}

.navbar-desktop .menu-list .planet:hover button {
    color: #fb6087;
}

@media (max-width: 1200px) {
    .navbar-desktop {
        flex-direction: column;
        gap: 60px;
    }

    .navbar-desktop .menu-list {
        width: 90%;
        margin-right: 0;
    }

    .navbar-desktop .menu-list .planet .hl {
        top: 128%;
        height: 4px;
    }
} 