.footer-container {
    background-image: url("../../assets//pattern-hills.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 15rem;
    background-size: 100%;
}
.text-container {
    position: absolute;
    bottom: 2%;
    left: 3%;
    color: white;
}
.copyright-container {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.logo-container {
    position: absolute;
    bottom: 2%;
    right: 3%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
}
.logo-container :is(svg) {
    color: white;
    transition: 0.3s;
    height: 2rem;
    width: 2rem;
}
.logo-container :is(svg):hover {
    color: rgb(117, 163, 216);
}