.footer-container {
    background-image: url("../../assets//pattern-hills.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 25rem;
    background-size: 100%;
}