.App {
    background-image: url("../src/assets/bg-stars.svg");
    min-height: 100vh;
    background-position: top left;
    background-repeat: repeat;
    position: relative;
    z-index: -999;
    animation: scrolling-stars 30s linear infinite;
    animation-direction: alternate;
}

@keyframes scrolling-stars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 1000px;
    }
}

::-webkit-scrollbar {
    max-width: 0.625rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background-color: #2D68F0;
}