.App {
    background-image: url("../src/assets/bg-stars.svg");
    min-height: 100vh;
    background-position: top left;
    background-repeat: repeat;
    position: relative;
    animation: scrolling-stars 30s linear infinite;
    animation-direction: alternate;
}

@keyframes scrolling-stars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 1000px;
    }
}

::-webkit-scrollbar {
    max-width: 0.425rem;
}

::-webkit-scrollbar-track {
    background-color: #2d1950;
}

::-webkit-scrollbar-thumb {
    background-color: #fb6087;
    border-radius: 12px;
}
